repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version. Ensure this matches what you use locally/in CI
    rev: v0.9.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format
